$bgcolor: linear-gradient(304.58deg, #f4ece1 57.1%, #fcfbf7 145.5%);
$fontcolor: #000000;
$fontfamily: 'Poppins', sans-serif;
$fontsize: 16px;
$fontweight: 500;
$lineheight: 1.5;
$primaryff: #ff7200;
$secondaryff: #febb41;
$gray7b: #7b88a8;
$grayf7: #f7f5f1;
$gray2d: #2d3958;
$gray2f: #2f2f2f;
$gray90: #909090;
$whitef4: #f4ece1;
$whiteff: #f7e9e0;
$footerbg: #1e2833;
$borderColor: #2b353f;
$dashboardColor: #fafafa;
$orangefe: #fef8f2;
$orangeff: #fef0e1;
$heightSidebar: 150px;
$dineInTable: #ffc245;
$freeTable: #54ca92;
$createdTable: #ff7200;
$orderedTable: #ec7905;
$canceledTable: #ff0000;
$grayeb: #ebebeb;
